.up-panel {
  position: fixed;
  right: 0;
  top: 56px;
  z-index: 40;
  height: calc(100vh - 56px);
  width: 768px;
  background-color: #222831;
  border-left: 1px solid #393E46;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  overflow: hidden;
  transition:
    transform 600ms cubic-bezier(0.22, 1, 0.36, 1),
    opacity 450ms ease-out,
    width 450ms ease-out;

  /* Dynamic varible */
  transform: translateX(100%);
  opacity: 0;
}
.up-panel.opened {
  transform: translateX(0);
  opacity: 1;
}

.up-panel-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 350ms ease-out;

  /* Dynamic varible */
  opacity: 0;
}
.up-panel-inner.visible {
  opacity: 1;
}

.up-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: opacity 240ms ease-out;

  /* Dynamic varible */
  opacity: 0;
}
.up-content.visible {
  opacity: 1;
}
